
__pycache__/
*.pyc
*.pyo
*.pyd
.build/
.venv/
venv/
env/
dist/
build/
.idea/
.vscode/
app_data/Target.xlsx
app_data/mapping.json
app_data/headers.json
app_data/keys.json
app_data/target_headers.json
excel_mapper_webapp*.zip
